.App {
  min-height: 100%;
  display: grid;
  grid-template-rows: .9fr 3.5fr 0.1fr;
  /* grid-template-columns: 2fr 5fr 3fr; */
  grid-template-areas: 
  "header"
  "content"
  "footer";
  background: linear-gradient(270deg, #6af9d4, #4fd739, #d78e39);
  background-size: 600% 600%;

  -webkit-animation: ColorWave 30s ease infinite;
  -moz-animation: ColorWave 30s ease infinite;
  animation: ColorWave 30s ease infinite;
}