.Footer{
    font-size: 0.75em;
    background-color: #2a2a2a;
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    color: white;
    vertical-align: middle;
    display: grid;
    padding: .2em .5em .2em .5em;
    grid-template-columns: repeat(2, 1fr);
}

.Footer-link-icon {
    color: white;
}
.Footer-references{
    text-align: left;
}
.Footer-powered-by{
    text-align: right;
}